.contacto{

    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
   
    width: 40%;
    margin: 0 auto;
    padding-left: 20px;
    border: darkgoldenrod 3px solid;
    background-color: white;

    color: goldenrod;
     

}

.h4{

    color: darkgoldenrod;
}

