.container {
    display: grid;
    background: goldenrod;
    padding: 5px 10px;
    color: black;
    border: 3px solid black;
    border-radius: 2px;
    text-shadow: none;

}
.imagen {
  height: 100px;
  width: 100px;
}


.cabecera {
 display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items:right;
  align-items: center;
   padding: 3px; 

}

.boton {
    background: goldenrod;
    padding: 3px 5px;
    color: black;
    border: 3px solid black;
    border-radius: 2px;
    text-shadow: none;
}

.boton:hover {
    background: white;
    color: black;
    border: 3px solid goldenrod;
    border-radius: 2px;
    }


.productoItem {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  background-color: #f9f9f9; /* Un color de fondo claro */
  padding: 3px;
  width: 100%; /* Ancho del formulario */
  margin: 3px auto; /* Centrado en la página */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  align-items: center;
  justify-content: space-between;

}

.botonAgr {
    background: goldenrod;
    padding: 1%;
    color: black;
    border: 3px solid black;
    border-radius: 2px;
    text-shadow: none;
}

.botonAgr:hover {
    background: white;
    color: black;
    border: 3px solid goldenrod;
    border-radius: 2px;
    }