@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&family=Pirata+One&display=swap');

.iconsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
  border-color: goldenrod;
  padding: 2px;
  width: 100%; /* Ancho del formulario */
  margin: 0px; /* Centrado en la página */
  align-items:center;
  justify-content:space-between;
  gap: 8%;
  
}

.iconoDeCarrito {
  position: relative;
  cursor: pointer;
}

.contadorDeCarrito {
  position: absolute;
  top: -8px; 
  right: -10px; 
  background-color: rgb(11, 11, 11);
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
}

.boton {
    background: goldenrod;
    padding: 10px 10px;
    color: black;
    border: 3px solid black;
    border-radius: 2px;
    text-shadow: none;
}

.boton:hover {
    background: white;
    color: black;
    border: 3px solid goldenrod;
    border-radius: 2px;
    }

.icono {
  font-size: 28px;
  cursor: pointer;
  color: goldenrod;
  margin: 0;
}

.logout {
 /* font-family: "Lucida Console", Courier, monospace;
  color: goldenrod;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  text-decoration: none;
  margin: 5px 20px  0px;*/
 background: goldenrod;
    padding: 7px 5px;
    color: white;
    border: 3px solid black;
    border-radius: 2px;
    
}
.logout:hover {
    background: white;
    color: black;
    border: 3px solid goldenrod;
    border-radius: 2px;
    }

.lista {
    display: flex; 
    justify-content: space-around; 
    list-style: none; 
    padding: 10px;
    margin: 0;
    background-color: black;
    border-color: goldenrod;
    border: 3px;
    border-radius: 6px;
    border-style: groove;
  }

  
  .item {
    margin: 0px; 
  }
  
.login {

  background: goldenrod;
    padding: 7px 5px;
    color: white;
    border: 3px solid black;
    border-radius: 2px;
  
}
.login:hover {
    background: white;
    color: black;
    border: 3px solid goldenrod;
    border-radius: 2px;
    }
    .botones{

      display: flex;
      flex-direction: row;
      

    }