.lista {
   display: flex; 
    justify-content: center; 
    list-style: none; 
    padding: 0;
    margin: 0;
    background-color: black;
 

 /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
  border-color: goldenrod;
  padding: 2px;
  width: 100%; 
  margin: 3px auto; 
  align-items: center;
  justify-content: space-between;
  column-gap: 4%;*/
  }

  

  
  .link3 {
    text-decoration: none;
    color: white;
    font-size: 18px;
   padding: 30px;

  
  }
  
  .link3:hover {
    color: goldenrod; 
  }

  .link2{
color: black;

  }

    .link2:hover {
    color: black; 
  }